.sorted {
  font-size: 20px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  width: 1200px;
}

.sorted select {
  width: 200px;
  font-size: 20px;
}
